*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.form input{
  padding: 2px 5px;
  outline: none;
}
.text{
  padding: 20px;
}